<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Etiqueta de referencia archivo styles.css-->
    <!--<link href="styles.css" rel="stylesheet"></link>-->

    <!--Etiqueta de referencia de framework boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Prueba HTML Empresa</title>
</head>



<body>
<!--Hola mundo, este es un index -->


<!--
Etiqueta, de titulos por tamaños

<div> Etiqueta de espacios
    <h1>Título tamaño 1</h1>
    <h2>Título tamaño 2</h2>
    <h3>Título tamaño 3</h3>
    <h4>Título tamaño 4</h4>
    <h5>Título tamaño 5</h5>
    <h6>Título tamaño 6</h6>
</div>
-->

<!--
Etiqueta, de titulos de Parrafos largos:
<p>2022-09-08 21:37:41.427  WARN 7408 --- [           main] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning</p>
-->

<!--
Etiqueta, de titulos de Textos cortos:
<span>Hola mundo, este es un index</span>
-->

<!--Etiquetas de link de referencia-
<a href="https://lms.misiontic2022udea.com/">Esto es un enlace al LMS de la UdeA</a>
-->

<!--
<div> Etiquetas de espacio33
    Etiqueta de formulario
    <form>
        Etiqueta de campos de texto:
        <input type="text"/>
        <input type="number">
        <input type="date">
        <input type="file">
        <input placeholder="Este es un mensaje de ayuda" type="text"/>
        Etiqueta de Boton:
        <button class="btn-ejemplo">Esto es un botón</button>
    </form>
</div>
-->




<!--Creacion de Main:-->
<main>
    <div class="px-4 py-4 mx-5 my-5 text-center">

        <!--Etiqueta de imagen:--->
        <img src="imagenes/Logohunkydorycode.jpg" class="d-block mx-auto my-auto mb-4" height="200" alt="Logo"/>

        <!--Etiqueta de titulo:--->
        <h1 class="display-5 fw-bold">Organizacion HunkyDoryCode 2022</h1>

        <!--Etiqueta de dividicion de espacio--->
        <div class="col-lg-6 mx-auto">

            <!--Etiqueta de parrafo:--->
            <p>Dale vida a tu inmueble</p>

            <!--Etiqueta de la URL, con tipo Boton:--->
            <a href="/index/prueba" type="button" class="btn btn-primary btn-lg px-5 gap-3">Ingresa al aplicativo</a>
            <button type="button" class="btn btn-outline-secondary btn-lg px-5">Detalles de la Empresa</button>
        </div>
    </div>

</main>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>