<!doctype html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
muestre la informacion de los "Empleados" en formas de tarjetas "Cards"

<main>

    <nav class="navbar bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/prueba">
                <img src="imagenes/Logohunkydorycode.jpg" alt="logohunkydorycode" width="-40" height="80" class="d-inline-block align-text-rigth">
                Metalmecanica
            </a>

        </div>
    </nav>


    <div class="px-4 py-5 my-2 text-center">
        <h1 class="display-5 fw-bold mb-4">Movimientos</h1>
        <div class="d-flex justify-content-center gap-3">
            <div th:each="movimiento:${movimiento}" class="card" style="width: 18rem;">
                <img src="imagenes/Movimientodinerohunkydorycode.jpeg" class="d-block mx-auto my-auto mb-4" height="100">
                <div class="card-body">
                    <!--Titulo y descripcion de las cards-->
                    <h5 th:text="${movimiento.montoMovimento}"  class="card-title"></h5>
                    <p  th:text="${movimiento.conceptoMovimiento}"  class="card-text"></p>
                    <p  th:text="${movimiento.empleado.nombre}"  class="card-text"></p>

                    <a href="#" class="btn btn-primary">Detalles</a>
                </div>
            </div>
        </div>
    </div>


    </div>


    <div class="px-4 py-5 my-5 text-center">
         <a href="/movimiento/nuevo-montodinero" type="button" class="btn btn-primary btn-lg px-5 gap-3">Registrar Concepto monto Dinero</a>
         <a href="/index/prueba" type="button" class="btn btn-outline-secundary btn-lg px-5 gap-3">Devolverse al inicio del aplicativo</a>
    </div>

    </div>

</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>
